@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "編輯行程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model int;


@* 1. 頁面專屬 CSS 區塊 *@
@section Styles {
    <link rel="stylesheet" href="~/css/trip/editTrip.css" asp-append-version="true" />
}

<div class="itinerary-wrapper">
    <div class="left-panel">
        @* 行程導覽列 *@
        <div class="p-3 bg-white border-bottom">
            <h5 class="m-0">景點列表</h5>
        </div>

        @* 行程細節 *@
        <div class="p-3 overflow-auto" id="place-list">
        </div>
    </div>

    <div class="right-panel">

        @* 景點搜尋框 *@
        <div class="search-container shadow">
            <div class="input-group">
                <input type="text" id="place-search-input" class="form-control" placeholder="搜尋景點..." />
                <button class="btn btn-light" id="btn-search">搜尋</button>
            </div>
        </div>

        @* Google地圖 *@
        <div id="map"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/trip/editTrip.js" asp-append-version="true"></script>

    <!-- 使用官方 loader，透過 Razor 注入 Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=@Configuration["GoogleMaps:ApiKey"]&libraries=places&callback=initMap" async defer></script>

}