*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*解決百分比寬度破版擠壓*/
}
ul,
ol {
  list-style: none;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  min-height: 100vh;
  display: flex;/*讓子元素服從父容器撐開布局*/
  flex-direction: column;
  text-align: justify;
}
