
/* 版面預設樣式 */

header {
	width: 100%;
}

.topNav {
	background-color: var(--color_nav);
}

.footerWrap {
	width: 100%;
	background: var(--color_nav);
	text-align: center;
	padding: 1rem 0;
	margin-top: auto;
	height:10px;
}
/*主要版面配置（header, nav, footer）會放class*/

