
/* 版面預設樣式 */

header {
	width: 100%;
	background: var(--color_nav);
	padding: 1rem 0;
	margin-bottom: 2rem;
	box-shadow: 0 2px 8px rgba(0,0,0,0.03);
}

.topNav {
	background-color: var(--color_nav);
}

.footerWrap {
	width: 100%;
	background: var(--color_nav);
	text-align: center;
	padding: 1rem 0;
	margin-top: auto;
}
/*主要版面配置（header, nav, footer）會放class*/
