/* 版面預設樣式 */

html,
body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	flex-shrink: 0;
}

.topNav {
	background-color: var(--color_nav);
}

.main-content {
	flex: 1;
}

.footerWrap {
	width: 100%;
	background: var(--color_nav);
	text-align: center;
	padding: 1rem 0;
}

footer {
	flex-shrink: 0;
	width: 100%;
}

/*主要版面配置（header, nav, footer）會放class*/
