
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>ChangePassword</h1>

<!-- 在適當位置加入：變更密碼區塊（示意） -->
<div class="change_password_section mt-4">
    <h4>變更密碼</h4>
    <div class="mb-2">
        <input id="cp_old" type="password" class="form-control" placeholder="舊密碼">
    </div>
    <div class="mb-2">
        <input id="cp_new" type="password" class="form-control" placeholder="新密碼">
    </div>
    <div class="mb-2">
        <input id="cp_confirm" type="password" class="form-control" placeholder="確認新密碼">
    </div>
    <button id="btnChangePwd" class="btn btn_light">變更密碼</button>
    <div id="changePwdHint" class="inputHint mt-2"></div>
</div>
@section Scripts {
    <script src="~/js/AuthApi/memberCenter.js"></script>
}