@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var tokens = Antiforgery.GetAndStoreTokens(Context);
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1 class="titleWrap titleH1">重設密碼</h1>

<div class="change_password_section mt-4">
    <div class="mb-2">
        <div>舊密碼</div>
        <input id="cp_old" type="password" class="pwdChange" placeholder="舊密碼">
        <div id="oldPwdHint" class="inputHint mt-2"></div>
    </div>
    <div class="mb-2">
        <div>新密碼</div>
        <input id="cp_new" type="password" class="pwdChange" placeholder="新密碼">
        <div id="newPwdHint" class="inputHint mt-2"></div>
    </div>
    <div class="mb-2">
        <div>確認新密碼</div>
        <input id="cp_confirm" type="password" class="pwdChange" placeholder="確認新密碼">
        <div id="changePwdHint" class="inputHint mt-2"></div>
    </div>
    <button id="btnChangePwd" class="btn btn_light">變更密碼</button>
</div>
<a href="@Url.Action("Index", "Home")" class="back-home-link">
    回到首頁
</a>
@section Scripts {
    <script>
        window.csrfToken = "@tokens.RequestToken";
    </script>

    <!-- helper.js 必須先載入，memberCenter.js 才能使用 Validator / setFieldHint -->
    <script src="~/js/AuthApi/memberCenter.js" asp-append-version="true"></script>
}