<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TripMatch</title>

    @* 使用 ~/ 符號，Razor 會自動解析正確的根目錄路徑 *@
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/variables.css">
    <link rel="stylesheet" href="~/css/components.css">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/AuthApi/member.css">
    <link rel="stylesheet" href="~/css/AuthApi/Calendar.css">

    @* Favicon 圖示 - 加上版本控制防止快取問題 *@
    <link rel="shortcut icon" href="~/img/Logo/favicon.png" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/img/Logo/favicon.png" asp-append-version="true" />
    @* 這裡可以預留給各別頁面加入額外的 CSS *@
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @* 在這裡放共用的 Header/Nav *@

    @* 這裡是各個頁面內容插入的位置 *@
    @RenderBody()

    @* 共用的 Scripts *@
    <script src="~/js/jquery-3.7.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/AuthApi/helper.js"></script>
    <script src="~/js/AuthApi/login.js"></script>
    <script src="~/js/AuthApi/signup.js"></script>
    <script src="~/js/AuthApi/logout.js"></script>
    <script src="~/js/AuthApi/forgotPassword.js"></script>
    <script src="~/js/AuthApi/memberCenter.js"></script>

    @* 這裡預留給各別頁面加入專屬 JS (如 login.js) *@
    @await RenderSectionAsync("Scripts", required: false)

    <script>
    </script>
</body>
</html>